<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>داشبورد | دانشگاه دانش و فناوری</title>
    <link rel="stylesheet" href="static/css/dashboard.css">
    <link rel="stylesheet" href="static/css/tickets.css">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <h2>دانشگاه دانش و فناوری</h2>
        </div>

        <ul class="nav-links">
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/tickets">تیکت‌ها</a></li>
            <li class="notifications-dropdown">
                <a href="/notifications/all" class="notifications-trigger">اعلان‌ها</a>
                <div class="notifications-menu" id="notifications-menu"></div>
            </li>
        </ul>

        <div class="auth-buttons">
            <a href="/auth/logout" class="btn register-btn">خروج</a>
        </div>
    </nav>
</header>

<main class="dashboard">

    <section class="page-title">
        <h1>
            پنل کاربری
            -
            کاربر {{ user_username }}
        </h1>
        <p>مدیریت درخواست‌ها، مشاهده پاسخ‌ها و اطلاعات کاربران</p>
    </section>
    
    <!-- Ticket Form -->
    <section class="card">
        
        {% if flash_message %}
            <div id="flash-alert" class="alert alert-success">
                تیکت با موفقیت ثبت شد
            </div>
        {% endif %}

        <div class="section-header">
            <h2>ثبت تیکت جدید</h2>
        </div>

        <form class="ticket-form" action="/tickets" method="POST" enctype="multipart/form-data">

            <div class="form-group">
                <label>عنوان تیکت</label>
                <input type="text" name="title" required placeholder="عنوان درخواست">
            </div>

            <div class="form-group">
                <label>توضیحات</label>
                <textarea name="description" rows="6" required placeholder="جزئیات درخواست خود را وارد کنید"></textarea>
            </div>

            <div>
                <input name="creator_id" value="{{ user_id }}" hidden>
            </div>

            <div class="form-group">
                <label>آپلود فایل</label>
                <input type="file" name="attachment">
            </div>

            <button class="submit-btn" type="submit">ثبت تیکت</button>

        </form>

    </section>


    <!-- Tickets List -->
    <section class="card">

        <div class="section-header">
            <h2>ده تیکت اخیر:</h2>
            <div class="search-bar-wrapper">
                <input 
                    type="text" id="ticket-search" class="search-bar" 
                    placeholder="جستجو بر اساس شناسه، عنوان یا توضیحات...">
            </div>
        </div>

        <div class="tickets-container">
            {% if tickets_list %}
                {% for ticket in tickets_list %}
                    <div class="ticket-item">
                        <div class="ticket-meta">
                            <div class="ticket-info">
                                <p class="ticket-id">#{{ ticket.id }}</p>
                                <h3>عنوان: {{ ticket.title }}</h3>
                            </div>
                            <span class="status">
                                وضعیت: {{ ticket.status.fa }}
                            </span>
                        </div>
                        <p class="ticket-description">توضیات: {{ ticket.description }}</p>
                        {% if ticket.responses %}
                        <div class="ticket-reply">
                            <p class="reply-label">💬 پاسخ:</p>
                            <p>{{ ticket.responses }}</p>
                        </div>
                        {% endif %}
                        <small><p class="ticket-created">ثبت شده در: {{ ticket.created_at }}</p></small>
                        <small><p class="ticket-created">شناسه کاربر ایجاد کننده: {{ ticket.creator_id }}</p></small>
                    </div>
                {% endfor %}
                <div class="auth-buttons">
                    <a href="/tickets" class="btn submit-btn" style="text-align: center;">مشاهده همه تیکت‌ها</a>
                </div>
            {% else %}
                <div class="empty-state">
                    <p>هیچ تیکتی ثبت نشده است</p>
                </div>
            {% endif %}
        </div>

    </section>


    <!-- Users -->
    <section class="card">

        <div class="section-header">
            <h2>کاربران سامانه</h2>
        </div>

        <div class="table-wrapper">

            <table>
                <thead>
                    <tr>
                        <th># id</th>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>ایمیل</th>
                        <th>نقش</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users_list %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role.fa }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </section>

</main>

<script src="static/js/dashboard.js"></script>

</body>
</html>