{% extends 'base.html' %}

{% block title %}داشبورد{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab active" style="text-decoration: none;" data-tab="overview">داشبورد</a>
        <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌های کارشناس</a>
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="tickets">تمامی اعلان‌ها</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="empty-state" id="dashboard-loading">
        <p>در حال بارگذاری...</p>
    </div>

    <div id="dashboard-content" style="display: none;">
        <!-- KPI CARDS -->
        <div class="metrics-grid">
            <div class="metric-card">
                <span>تمام تیکت‌ها</span>
                <h2 id="assigned-metric-value">-</h2>
            </div>
            <div class="metric-card">
                <span>تیکت‌های باز</span>
                <h2 id="open-metric-value">-</h2>
            </div>
            <div class="metric-card">
                <span>تیکت‌های بسته</span>
                <h2 id="resolved-metric-value">-</h2>
            </div>
        </div>

        <!-- Ticket Form -->
        <section class="card">
            <div id="ticket-flash-alert" class="alert" style="display: none;"></div>

            <div class="section-header">
                <h2>ثبت تیکت جدید</h2>
                <button class="toggle-form-btn submit-btn btn-small" id="toggleFormBtn" type="button">نمایش فرم</button>
            </div>
            <form id="newTicketForm" class="ticket-form" style="display: none;">
                <div class="form-group">
                    <label>عنوان تیکت</label>
                    <input type="text" name="title" required placeholder="عنوان درخواست">
                </div>
                <div class="form-group">
                    <label>توضیحات</label>
                    <textarea name="description" rows="6" required placeholder="جزئیات درخواست خود را وارد کنید"></textarea>
                </div>
                <div class="form-group">
                    <label>آپلود فایل</label>
                    <input type="file" name="attachment">
                </div>
                <button class="submit-btn" type="submit">ثبت تیکت</button>
            </form>
        </section>

        <!-- Tickets TAB -->
        <section class="card">
            <div class="section-header">
                <h2>تیکت‌های اخیر سامانه</h2>
            </div>
            <div class="table-wrapper">
                <table class="tickets-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>عنوان</th>
                            <th>وضعیت</th>
                            <th>ایجاد کننده</th>
                            <th>تاریخ ثبت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody id="recent-tickets-body"></tbody>
                </table>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', path='js/notification.js') }}"></script>
    <script src="{{ url_for('static', path='js/toggle_btn.js') }}"></script>
    <script src="{{ url_for('static', path='js/it_expert_dashboard.js') }}"></script>
{% endblock%}
