{% extends 'base.html' %}

{% block title %}لیست اعلان‌ها{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/notifications.css') }}">
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab" style="text-decoration: none;" href="/dashboard" data-tab="overview">داشبورد</a>
        {% if user_role == "System Admin" %}
            <a class="nav-tab" style="text-decoration: none;" href="/users" data-tab="users">تمامی کاربران</a>
        {% endif %}
        {% if user_role == "IT Expert" %}
            <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌های کارشناس</a>
        {% else %}
            <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌ها</a>
        {% endif %}
        <a class="nav-tab active" style="text-decoration: none;" data-tab="tickets">تمامی اعلان‌ها</a>
        {% if user_role == "System Admin" %}
            <a class="nav-tab" style="text-decoration: none;" href="/dashboard/stats" data-tab="stats">آمار‌های سامانه</a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <section class="page-header">
        <h1>تمامی اعلان‌ها</h1>
        <p>
            در این بخش تمامی اعلان‌های سامانه اعم از خوانده‌شده و
            خوانده‌نشده قابل مشاهده هستند.
        </p>
    </section>

    <section class="notifications-list" id="notifications-list">
        {% for notification in notifications_list %}
            <article class="notification-card {% if not notification.is_read %}unread{% endif %}">
                <div id="{{ notification.id }}" class="notification-top">
                    <span class="notification-date">
                        ایجاد شده در {{ notification.created_at }}
                    </span>
                </div>
                <h3>{{ notification.title }}</h3>
                <p>{{ notification.text }}</p>
                <div class="notification-btn-status">
                    {% if notification.is_read %}
                    <div class="notification-status read">
                        خوانده شده
                    </div>
                    {% else %}
                    <div class="notification-status unread">
                        خوانده‌نشده
                    </div>
                    {% endif %}

                    {% if not notification.is_read %}
                    <button class="notification-btn" data-id="{{ notification.id }}" class="btn submit-btn show-ticket" style="max-width: 20%;">مشاهده شد</button>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/notification.js') }}"></script>
<script>
    document.getElementById("notifications-list")
        .addEventListener("click", async (e) => {
            const btn = e.target.closest('.notification-btn');
            if (!btn) return;

            btn.disabled = true;

            try {
            const response = await fetch('/notifications', {
                method: 'PATCH',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                notification_id: btn.dataset.id,
                is_read: true
                })
            });

            if (!response.ok) {
                throw new Error(`HTTP ${response.status}`);
            }

            location.reload();

            } catch (error) {
            console.error('Failed to update notification:', error);
            btn.disabled = false;
            }
        });
</script>
{% endblock%}