<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اعلان‌ها | دانشگاه دانش و فناوری</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/notifications.css') }}">
</head>
<body>

<header>
    <nav class="navbar">

        <div class="logo">
            <h2>دانشگاه دانش و فناوری</h2>
        </div>

        <ul class="nav-links">
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/dashboard">داشبورد</a></li>
        </ul>

        <div class="auth-buttons">
            <a href="/auth/logout" class="btn register-btn">خروج</a>
        </div>

    </nav>
</header>

<main class="notifications-page">
    <section class="page-header">
        <h1>تمامی اعلان‌ها</h1>

        <p>
            در این بخش تمامی اعلان‌های سامانه اعم از خوانده‌شده و
            خوانده‌نشده قابل مشاهده هستند.
        </p>
    </section>

    <section class="notifications-list" id="notifications-list">
        {% for notification in notifications_list %}
            <article class="notification-card {% if not notification.is_read %}unread{% endif %}">
                <div class="notification-top">
                    <span class="notification-date">
                        ایجاد شده در {{ notification.created_at }}
                    </span>
                </div>
                <h3>{{ notification.title }}</h3>
                <p>{{ notification.text }}</p>
                <div class="notification-btn-status">
                    {% if notification.is_read %}
                    <div class="notification-status read">
                        خوانده شده
                    </div>
                    {% else %}
                    <div class="notification-status unread">
                        خوانده‌نشده
                    </div>
                    {% endif %}

                    {% if not notification.is_read %}
                    <button class="notification-btn" data-id="{{ notification.id }}" class="btn submit-btn show-ticket" style="max-width: 20%;">مشاهده شد</button>
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </section>
</main>
</body>
<script>
    document.getElementById("notifications-list")
        .addEventListener("click", async (e) => {
            const btn = e.target.closest('.notification-btn');
            if (!btn) return;

            btn.disabled = true;

            try {
            const response = await fetch('/notifications', {
                method: 'PATCH',
                headers: {
                'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                notification_id: btn.dataset.id,
                is_read: true
                })
            });

            if (!response.ok) {
                throw new Error(`HTTP ${response.status}`);
            }

            location.reload();

            } catch (error) {
            console.error('Failed to update notification:', error);
            btn.disabled = false;
            }
        });
</script>
</html>