{% extends 'base.html' %}

{% block title %}پروفایل کاربر{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block early_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Check localStorage for flash message
        if (localStorage.getItem('update_user_flash_message')) {
            const flashDiv = document.getElementById('user-flash-alert');
            if (flashDiv) {
                flashDiv.style.display = 'block';
                setTimeout(() => {
                    flashDiv.style.opacity = "0";
                    setTimeout(() => {
                        flashDiv.remove();
                    }, 500);
                }, 3500);
            }
            localStorage.removeItem('update_user_flash_message');
        }
    });
</script>
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab" style="text-decoration: none;" href="/dashboard" data-tab="overview">داشبورد</a>
        <a class="nav-tab" style="text-decoration: none; display: none;" href="/users" data-tab="users" data-role="System Admin" id="nav-users-admin">تمامی کاربران</a>
        <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets" id="nav-tickets">تمامی تیکت‌ها</a>
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="tickets">تمامی اعلان‌ها</a>
        <a class="nav-tab" style="text-decoration: none; display: none;" href="/dashboard/stats" data-tab="stats" data-role="System Admin,IT Manager" id="nav-stats">آمار‌های سامانه</a>
    </nav>
{% endblock %}

{% block content %}
    <section class="card">
        <div id="user-flash-alert" class="alert alert-success" style="display: none;">
            کاربر با موفقیت آپدیت شد
        </div>
        <div class="section-header">
            <h2>پروفایل کاربر</h2>
        </div>

        <div class="tickets-container" id="user-profile-container">
            <div class="empty-state" id="user-profile-loading">
                <p>در حال بارگذاری...</p>
            </div>
        </div>
    </section>

    <section class="card" id="edit-user-section" style="display: none;">
        <div class="section-header">
            <h2>ویرایش اطلاعات کاربر</h2>
            <button class="toggle-form-btn submit-btn btn-small" id="toggleEditFormBtn" type="button">نمایش فرم</button>
        </div>
        <form class="ticket-form" id="editForm" method="post" style="display: none; font-size: 1.5em;">

            <div class="form-group">
                <label>نام و نام خوانوادگی کاربر</label>
                <input type="text" name="name" id="edit-name" required placeholder="نام و نام خوانوادگی">
            </div>

            <div id="admin-only-fields" style="display: none;">
                <div class="form-group">
                    <label>نام کاربری</label>
                    <input type="text" name="username" id="edit-username" required placeholder="نام کاربری">
                </div>

                <div class="form-group">
                    <label>ایمیل</label>
                    <input type="email" name="email" id="edit-email" required placeholder="ایمیل">
                </div>

                <div class="form-group">
                    <label>نقش</label>
                    <select name="role" id="edit-role" required></select>
                </div>

                <div class="form-group">
                    <label>وضعیت</label>
                    <select name="user_status" id="edit-status" required></select>
                </div>

                <div class="form-group" id="department-field" style="display: none;">
                    <label>دپارتمان مربوطه کارشناس</label>
                    <select name="department_id" id="edit-department">
                        <option value="">-- دپارتمان را انتخاب کنید --</option>
                    </select>
                </div>
            </div>

            <button class="submit-btn" type="submit">آپدیت کاربر</button>

        </form>
    </section>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', path='js/notification.js') }}"></script>
    <script src="{{ url_for('static', path='js/show_user.js') }}"></script>
{% endblock%}
