<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نمایش تیکت | دانشگاه دانش و فناوری</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
</head>
<body>

<header>
    <nav class="navbar">
        <div class="logo">
            <h2>دانشگاه دانش و فناوری</h2>
        </div>

        <ul class="nav-links">
            <li><a href="/">صفحه اصلی</a></li>
            <li><a href="/tickets">تیکت‌ها</a></li>
            <li><a href="/dashboard">داشبورد</a></li>
            <li class="notifications-dropdown">
                <a href="/notifications/all" class="notifications-trigger">اعلان‌ها</a>
                <div class="notifications-menu" id="notifications-menu"></div>
            </li>
        </ul>

        <div class="auth-buttons">
            <a href="/auth/logout" class="btn register-btn">خروج</a>
        </div>
    </nav>
</header>

<main class="dashboard">

    <section class="card">
        <div class="section-header">
            <h2>اطلاعات کاربر</h2>
        </div>

        <div class="tickets-container">
            {% if user %}
                <div class="ticket-item">
                    <div class="ticket-meta">
                        <div class="ticket-info">
                            <p class="ticket-id">#{{ user.id }}</p>
                            <h3>{{ user.name }}</h3>
                            <p><strong>نام کاربری:</strong> {{ user.username }}</p>
                            <p><strong>ایمیل:</strong> {{ user.email }}</p>
                            <p><strong>نقش:</strong> <span class="role">{{ user.role.fa }}</span></p>
                            <p><strong>وضعیت:</strong> {{ user.status.fa }}</p>
                            <p class="ticket-created"><strong>تاریخ عضویت:</strong> {{ user.created_at }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div>
                    <p class="ticket-description">کاربر مورد نظر یافت نشد</p>
                </div>
            {% endif %}
        </div>
    </section>

    <section class="card">
        <div class="section-header">
            <h2>ویرایش اطلاعات کاربر</h2>
            <button class="toggle-form-btn submit-btn" id="toggleFormBtn" type="button">نمایش فرم</button>
        </div>
        {% if user %}
        <form class="ticket-form" id="editForm" action="/users/{{ user.id }}" method="post" style="display: none; font-size: 1.5em;">

            <div class="form-group">
                <label>نام و نام خوانوادگی کاربر</label>
                <input type="text" name="name" value="{{ user.name }}" required placeholder="نام و نام خوانوادگی">
            </div>

            <div class="form-group">
                <label>نام کاربری</label>
                <input type="text" name="username" value="{{ user.username }}" required placeholder="نام کاربری">
            </div>

            <div class="form-group">
                <label>ایمیل</label>
                <input type="email" name="email" value="{{ user.email }}" required placeholder="ایمیل">
            </div>

            <div class="form-group">
                <label>نقش</label>
                <select name="role" required>
                    {% for role in Role %}
                    <option value="{{ role.name }}"
                            {% if user.role == role %}selected{% endif %}>
                        {{ role.fa }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>وضعیت</label>
                <select name="user_status" required>
                    {% for status in UserStatus %}
                    <option value="{{ status.name }}"
                            {% if user.status == status %}selected{% endif %}>
                        {{ status.fa }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <button class="submit-btn" type="submit">آپدیت کاربر</button>

        </form>
        {% else %}
        <div>
            <p class="ticket-description">کاربر مورد نظر یافت نشد</p>
        </div>
        {% endif %}

    </section>

</main>

<script src="{{ url_for('static', path='js/dashboard.js') }}"></script>

<script>
    // Opening and closing form
    const toggleBtn = document.getElementById('toggleFormBtn');
    const editForm = document.getElementById('editForm');

    toggleBtn.addEventListener('click', function() {
        if (editForm.style.display === 'none') {
            editForm.style.display = 'block';
            toggleBtn.textContent = 'بستن فرم';
        } else {
            editForm.style.display = 'none';
            toggleBtn.textContent = 'نمایش فرم';
        }
    });


    //Sending PATCH request using JS
    document.getElementById("editForm").addEventListener("submit", async function (e) {
        e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);

    try {
        const response = await fetch(form.action, {
            method: "PATCH",
            body: formData
        });

        if (response.redirected) {
            window.location.href = response.url;
            return;
        }

        if (response.ok) {
            return
        } else {
            const error = await response.text();
            alert("Error: " + error);
        }
    } catch (err) {
        console.error(err);
    }
    });
</script>

</body>
</html>