{% extends 'base.html' %}

{% block title %}نمایش تیکت{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block early_js %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // Check localStorage for flash message
        if (localStorage.getItem('ticket_update_flash_message')) {
            const flashDiv = document.getElementById('ticket-flash-alert');
            if (flashDiv) {
                flashDiv.style.display = 'block';
                setTimeout(() => {
                    flashDiv.style.opacity = "0";
                    setTimeout(() => {
                        flashDiv.remove();
                    }, 500);
                }, 3500);
            }
            localStorage.removeItem('ticket_update_flash_message');
        }
    });
</script>
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab active" style="text-decoration: none;" data-tab="overview">داشبورد</a>
        {% if user_role == "System Admin" %}
            <a class="nav-tab" style="text-decoration: none;" href="/users" data-tab="users">تمامی کاربران</a>
        {% endif %}
        {% if user_role == "IT Expert" %}
            <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌های کارشناس</a>
        {% else %}
            <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌ها</a>
        {% endif %}
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="tickets">تمامی اعلان‌ها</a>
        {% if user_role in ("System Admin", "Help Desk Manager", "IT Manager") %}
            <a class="nav-tab" style="text-decoration: none;" href="/dashboard/stats" data-tab="stats">آمار‌های سامانه</a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <section class="card">
        <div id="ticket-flash-alert" class="alert alert-success" style="display: none;">
            تیکت با موفقیت آپدیت شد.
        </div>

        {% if ticket_closed_flash_message %}
        <div id="ticket-closed-flash-alert" class="alert alert-danger">
            امکان ثبت پاسخ وجود ندارد. تیکت بسته شده است.
        </div>
        {% endif %}

        <div class="section-header">
            <h2>اطلاعات تیکت</h2>
        </div>

        <div class="tickets-container">
            {% if ticket %}
                <div class="ticket-item">
                    <div class="ticket-meta">
                        <div class="ticket-info">
                            <p class="ticket-id" id="ticket-id" data-ticket_id="{{ ticket.id }}">#{{ ticket.id }}</p>
                            <h3>عنوان: {{ ticket.title }}</h3>
                        </div>
                        <span class="status alert {% if ticket.status.name == 'NEW' %}alert-success{% elif ticket.status.name == 'IN_PROGRESS' or ticket.status.name == 'WAITING_FOR_USER' %}alert-warning{% elif ticket.status.name == 'RESOLVED' or ticket.status.name == 'CLOSED' %}alert-danger{% endif %}">
                            وضعیت: {{ ticket.status.fa }}
                        </span>
                        <span class="status alert {% if ticket.priority.name == 'NORMAL' %}alert-info{% elif ticket.priority.name == 'WARNING' %}alert-warning{% elif ticket.priority.name == 'CRITICAL' %}alert-danger{% endif %}">
                            اولویت: {{ ticket.priority.fa }}
                        </span>
                    </div>
                    <p class="ticket-description">توضیحات: {{ ticket.description }}</p>
                    {% if attachment %}
                        <a href="/static/upload/{{ attachment.file_name }}" target="_blank">مشاهده فایل پیوست</a>
                    {% else %}
                        <p class="ticket-created">فایل پیوستی یافت نشد</p>
                    {% endif %}
                    <div class="ticket-reply" id="ticket-reply"></div>
                    <br />
                    {% if ticket.assignee.username %}
                        <p>کارشناس بررسی کننده: {{ ticket.assignee.username }}</p>
                    {% else %}
                        <p>به این تیکت هنوز کارشناسی ارجاع داده نشده.</p>
                    {% endif %}
                    <small><p class="ticket-created">ثبت شده در: {{ ticket.created_at }}</p></small>
                    {% if user_role != "Student" and user_role != "Employee" %}
                        <small><p class="ticket-created">شناسه کاربر ایجاد کننده: 
                                <a href="/users/{{ ticket.creator_id }}">{{ ticket.creator_id }}</a>
                        </p></small>
                    {% endif %}

                    {% if user_role != "IT Manager" %}
                    <form action="/tickets/{{ ticket.id }}/responses" method="post" class="ticket-form">

                        <div class="form-group">
                            <label for="response">متن پاسخ:</label>
                            <textarea id="response" name="text" placeholder="متن پاسخ خود را وارد کنید..." required></textarea>
                        </div>

                        <input type="hidden" name="response_ticket_id" value="{{ ticket.id }}">

                        <button type="submit" class="submit-btn">ارسال پاسخ</button>
                    </form>
                    {% endif %}

                </div>
            {% else %}
                <div class="empty-state">
                    <p>تیکت مورد نظر یافت نشد</p>
                </div>
            {% endif %}
        </div>
    </section>

    {% if ticket and user_role != "Student" and user_role != "Employee" and user_role != "IT Manager" %}
    {% if ticket.status.name != "RESOLVED" and ticket.status.name != "CLOSED" %}
    <section class="card">
        <div class="section-header">
            <h2>ویرایش اطلاعات تیکت</h2>
            <button class="toggle-form-btn submit-btn" id="toggleFormBtn" type="button">نمایش فرم</button>
        </div>
        <form class="ticket-form" id="editForm" action="/tickets/{{ ticket.id }}" method="post" style="display: none; font-size: 1.5em;">
            {% if user_role != "IT Expert" %}
            <div class="form-group">
                <label>عنوان</label>
                <input type="text" name="title" value="{{ ticket.title }}" required placeholder="عنوان تیکت">
            </div>

            <div class="form-group">
                <label>توضیحات</label>
                <input type="text" name="description" value="{{ ticket.description }}" required placeholder="توضیحات تیکت">
            </div>
            {% endif %}

            {% if user_role != "IT Expert" %}
            <div class="form-group">
                <label>وضعیت</label>
                <select name="ticket_status" required>
                    {% for status in TicketStatus %}
                    <option value="{{ status.name }}"
                            {% if ticket.status == status %}selected{% endif %}>
                        {{ status.fa }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
                {% if ticket.status.name == "IN_PROGRESS" %}
                <div class="form-group">
                    <input type="checkbox" id="ticket_status" name="ticket_status" value="RESOLVED">
                    <label for="ticket_status">مشکل تیکت حل شد</label><br>
                {% elif ticket.status.name == "WAITING_FOR_USER" %}
                    <p>تیکت در انتظار پاسخ کاربر میباشد.</p>
                </div>
                {% endif %}
            {% endif %}

            {% if user_role != "IT Expert" %}
            <div class="form-group">
                <label>اولویت</label>
                <select name="priority" required>
                    {% for priority in TicketPriority %}
                    <option value="{{ priority.name }}"
                            {% if ticket.priority == priority %}selected{% endif %}>
                        {{ priority.fa }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label>کارشناس بررسی کننده</label>
                <select name="assigned_to" required>
                    <option>-- کارشناس را انتخاب کنید --</option>
                    {% for it_expert in it_experts %}
                    <option value="{{ it_expert.id }}"
                        {% if ticket.assigned_to == it_expert.id %}selected{% endif %}>
                        {{ it_expert.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}
            <button class="submit-btn" type="submit">آپدیت تیکت</button>
        </form>
    </section>
    {% endif %}
    {% endif %}

{% endblock %}

{% block js %}
<script src="{{ url_for('static', path='js/notification.js') }}"></script>
<script src="{{ url_for('static', path='js/toggle_btn.js') }}"></script>
<script src="{{ url_for('static', path='js/responses.js') }}"></script>
<script src="{{ url_for('static', path='js/alerts.js') }}"></script>
<script>
    //Sending PATCH request using JS
    document.getElementById("editForm").addEventListener("submit", async function (e) {
        e.preventDefault();

    const form = e.target;
    const formData = new FormData(form);

    try {
        const response = await fetch(form.action, {
            method: "PATCH",
            body: formData,
            credentials: 'include'
        });

        if (response.ok) {
            // Store flash message in localStorage instead of cookie
            localStorage.setItem('ticket_update_flash_message', 'successful');
            window.location.href = response.url;
        } else if (response.status === 403) {
            window.location.href = '/forbidden';
        } else {
            const error = await response.text();
            alert("Error: " + error);
        }
    } catch (err) {
        console.error(err);
    }
    });
</script>
{% endblock%}