{% extends 'base.html' %}

{% block title %}آمار سامانه{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab" style="text-decoration: none;" href="/dashboard" data-tab="overview">داشبورد</a>
        {% if user_role == "System Admin" %}
            <a class="nav-tab" style="text-decoration: none;" href="/users" data-tab="users">تمامی کاربران</a>
        {% endif %}
        <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌ها</a>
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="notifications">تمامی اعلان‌ها</a>
        <a class="nav-tab active" style="text-decoration: none;" data-tab="stats">آمار‌های سامانه</a>

        <!-- Divider -->
        <div style="padding-bottom:25px; border-bottom:1px solid rgba(255,255,255,.1); margin-bottom:20px;"></div>
        <a class="nav-tab stats-active" style="text-decoration: none;" data-tab="stats" id="users-charts-btn">آمار کاربران</a>
        <a class="nav-tab" style="text-decoration: none;" data-tab="stats" id="tickets-charts-btn">آمار تیکت‌ها</a>
        <a class="nav-tab" style="text-decoration: none;" data-tab="stats" id="it-experts-charts-btn">آمار کارشناسان</a>
    </nav>
{% endblock %}

{% block content %}
    <p data-user_role="{{ user_role }}" id="user-role-data"></p>
    <!-- KPI CARDS -->
    <div class="metrics-grid">
        {% if user_role == "System Admin" %}
        <div class="metric-card">
            <span>کاربران کل / کاربران فعال</span>
            <h2>{{ all_users_count }} / {{ active_users_count }}</h2>
        </div>
        {% endif %}

        <div class="metric-card">
            <span>کل تیکت‌ها / تیکت‌های باز</span>
            <h2>{{ all_tickets_count }} / {{ active_tickets_count }}</h2>
        </div>

        <div class="metric-card">
            <span>تیکت‌های بدون کارشناس</span>
            <h2>{{ not_assigned_tickets }}</h2>
        </div>

        <div class="metric-card">
            <span>تیکت‌های ۲۴ ساعت گذشته</span>
            <h2>{{ last_created }}</h2>
        </div>
    </div>

    {% if user_role == "System Admin" %}
    <div id="users-charts">
        <!-- User Pie Chart based on Role -->
        <section class="card">
            <div class="section-header">
                <h2>آمار کاربران بر اساس نقش‌ها</h2>
            </div>
            <img class="chart-image"  src="/static/charts/user_role.png" />
        </section>
    </div>
    {% endif %}

    <div id="tickets-charts">
        <!-- Ticket Bar Chart based on Status -->
        <section class="card">
            <div class="section-header">
                <h2>آمار تیکت‌ها بر اساس وضعیت</h2>
            </div>
            <img class="chart-image"  src="/static/charts/ticket_status.png" />
        </section>

        <!-- Ticket Bar Chart based on Category -->
        <section class="card">
            <div class="section-header">
                <h2>آمار تیکت‌ها بر اساس دسته بندی</h2>
            </div>
            <img class="chart-image"  src="/static/charts/ticket_category.png" />
        </section>

        <!-- Ticket Bar Chart based on Department -->
        <section class="card">
            <div class="section-header">
                <h2>آمار تیکت‌ها بر اساس دپارتمان</h2>
            </div>
            <img class="chart-image"  src="/static/charts/ticket_department.png" />
        </section>
    </div>

    <div id="it-experts-charts">
        <!-- IT Experts Bar Chart based on Resolved Tickets -->
        <section class="card">
            <div class="section-header">
                <h2>آمار پاسخ‌دهی به تیکت‌ها توسط کارشناسان</h2>
            </div>
            <img class="chart-image"  src="/static/charts/it_experts_performance.png" />
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', path='js/notification.js') }}"></script>
    <script src="{{ url_for('static', path='js/alerts.js') }}"></script>
    <script src="{{ url_for('static', path='js/toggle_charts.js') }}"></script>
{% endblock%}