{% extends 'base.html' %}

{% block title %}لیست تیکت‌ها{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab" style="text-decoration: none;" href="/dashboard" data-tab="overview">داشبورد</a>
        <a class="nav-tab" style="text-decoration: none; display: none;" href="/users" data-tab="users" data-role="System Admin" id="nav-users-admin">تمامی کاربران</a>
        <a class="nav-tab" style="text-decoration: none; display: none;" href="/users" data-tab="users" data-role="IT Manager" id="nav-users-manager">تمامی کارشناسان</a>
        <a class="nav-tab active" style="text-decoration: none;" href="/tickets" data-tab="tickets" id="nav-tickets">تمامی تیکت‌ها</a>
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="tickets">تمامی اعلان‌ها</a>
        <a class="nav-tab" style="text-decoration: none; display: none;" href="/dashboard/stats" data-tab="stats" data-role="System Admin,IT Manager" id="nav-stats">آمار‌های سامانه</a>
    </nav>
{% endblock %}

{% block content %}
    <section class="page-title">
        <h1>تمامی تیکت‌ها</h1>
        <p>مشاهده و مدیریت تمامی درخواست‌های سامانه</p>
    </section>

    <section class="card">
        <div class="section-header">
            <h2>لیست تیکت‌ها</h2>
            <div class="search-bar-wrapper">
                <input 
                    type="text" id="ticket-search" class="search-bar" 
                    placeholder="جستجو بر اساس شناسه، عنوان، توضیحات یا وضعیت...">
            </div>
        </div>

        <div class="tickets-container" id="tickets-container">
            <div class="empty-state" id="tickets-loading">
                <p>در حال بارگذاری...</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', path='js/notification.js') }}"></script>
    <script src="{{ url_for('static', path='js/tickets_list.js') }}"></script>
    <script src="{{ url_for('static', path='js/ticket_search.js') }}"></script>
{% endblock%}
