{% extends 'base.html' %}

{% block title %}لیست کاربران{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab" style="text-decoration: none;" href="/dashboard" data-tab="overview">داشبورد</a>
        <a class="nav-tab active" style="text-decoration: none; display: none;" href="/users" data-tab="users" data-role="System Admin" id="nav-users-admin">تمامی کاربران</a>
        <a class="nav-tab active" style="text-decoration: none; display: none;" href="/users" data-tab="users" data-role="IT Manager" id="nav-users-manager">تمامی کارشناسان</a>
        <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets" id="nav-tickets">تمامی تیکت‌ها</a>
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="tickets">تمامی اعلان‌ها</a>
        <a class="nav-tab" style="text-decoration: none; display: none;" href="/dashboard/stats" data-tab="stats" data-role="System Admin,IT Manager" id="nav-stats">آمار‌های سامانه</a>
    </nav>
{% endblock %}

{% block content %}
    <section class="page-title">
        <h1 id="users-page-title">تمامی کاربران سامانه</h1>
        <p id="users-page-subtitle">مشاهده و مدیریت تمامی کاربران سامانه</p>
    </section>

    <section class="card">
        <div class="table-wrapper">
            <h2>جستجو کاربران</h2>
            <div class="search-bar-wrapper">
                <input
                    type="text" id="user-search" class="search-bar"
                    placeholder="جستجو بر اساس شناسه، نام کاربری، نام، ایمیل، نقش، وضعیت...">
            </div>
            <br />
            <table>
                <thead>
                    <tr>
                        <th># id</th>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>ایمیل</th>
                        <th>نقش</th>
                        <th>وضعیت حساب</th>
                        <th>دپارتمان کارشناس</th>
                        <th id="manage-col-header" style="display: none;">مدیریت کاربر</th>
                    </tr>
                </thead>
                <tbody class="user-container" id="user-container"></tbody>
            </table>

            <div class="empty-state" id="users-loading">
                <p>در حال بارگذاری...</p>
            </div>
        </div>
        <div class="search-empty-state"></div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', path='js/notification.js') }}"></script>
    <script src="{{ url_for('static', path='js/users_list.js') }}"></script>
    <script src="{{ url_for('static', path='js/user_search.js') }}"></script>
{% endblock%}
