{% extends 'base.html' %}

{% block title %}لیست کاربران{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/tickets.css') }}">
{% endblock %}

{% block aside %}
    <nav class="sidebar-nav">
        <a class="nav-tab" style="text-decoration: none;" href="/dashboard" data-tab="overview">داشبورد</a>
        {% if user_role == "System Admin" %}
            <a class="nav-tab active" style="text-decoration: none;" href="/users" data-tab="users">تمامی کاربران</a>
        {% elif user_role == "IT Manager" %}
            <a class="nav-tab" style="text-decoration: none;" href="/users" data-tab="users">تمامی کارشناسان</a>
        {% endif %}
        <a class="nav-tab" style="text-decoration: none;" href="/tickets" data-tab="tickets">تمامی تیکت‌ها</a>
        <a class="nav-tab" style="text-decoration: none;" href="/notifications/all" data-tab="tickets">تمامی اعلان‌ها</a>
        {% if user_role == "System Admin" %}
            <a class="nav-tab" style="text-decoration: none;" href="/dashboard/stats" data-tab="stats">آمار‌های سامانه</a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <section class="page-title">
        <h2>تمامی کاربران سامانه</h2>
        <p>مشاهده و مدیریت تمامی کاربران سامانه</p>
    </section>

    <section class="card">
        <div class="table-wrapper">
            <h2>جستجو کاربران</h2>
            <div class="search-bar-wrapper">
                <input 
                    type="text" id="user-search" class="search-bar" 
                    placeholder="جستجو بر اساس شناسه، نام کاربری، نقش، وضعیت...">
            </div>
            <br />
            <table>
                <thead>
                    <tr>
                        <th># id</th>
                        <th>نام کاربری</th>
                        <th>نام</th>
                        <th>ایمیل</th>
                        <th>نقش</th>
                        <th>وضعیت حساب</th>
                        {% if user_role == "System Admin" %}
                            <th>مدیریت کاربر</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody class="user-container">
                {% for user in users_list %}
                    <tr class="user-items">
                        <td class="user-id">{{ user.id }}</td>
                        <td class="user-username">{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td class="user-role">{{ user.role.fa }}</td>
                        <td class="user-status">{{ user.status.fa }}</td>
                        {% if user_role == "System Admin" %}
                        <td>
                            <div class="auth-buttons">
                                <a href="/users/{{ user.id }}" class="btn submit-btn show-ticket" style="max-width: 100%;">مدیریت کاربر</a>
                            </div>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="search-empty-state"></div>
    </section>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', path='js/notification.js') }}"></script>
    <script src="{{ url_for('static', path='js/user_search.js') }}"></script>
{% endblock%}